<div class="row">
<div class="col-12 col-sm-12 col-md-6 col-xl-6" style="border-left: solid 1px #ffbfbf;">
  <div style="height: 700px; background-color: #FF3355; border-radius: 15px;">a a a a a a</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-xl-6" style="border-left: solid 1px #ffbfbf;">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="padding-right: 0px; padding-left:0px;border-left: solid 1px #ffbfbf;">
          <div style="height: 320px; background-color: #FF3355; border-radius: 15px;">a</div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="padding-right: 0px; padding-left:0px; margin-top: 30px; border-left: solid 1px #ffbfbf;">
          <div style="height: 320px; background-color: #FF3355; border-radius: 15px;">a</div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="padding-right: 0px; padding-left:0px;border-left: solid 1px #ffbfbf;">
          <div style="height: 320px; background-color: #FF3355; border-radius: 15px;">a</div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="padding-right: 0px; padding-left:0px;border-left: solid 1px #ffbfbf;">
          <div style="height: 320px; background-color: #FF3355; border-radius: 15px;">a</div>
      </div>
  </div>
</div>
</div>
